{# Extends the original template, instead of overwriting the entire file #}
{% ckan_extends %}

{# Overrides the toolbar to add some info below the breadcrumbs #}
{% block toolbar %}
  {{ super() }}

  {% snippet 'package/snippets/toll_data_info.html' %}
{% endblock %}

{# Overrides the breadcrumb_content block #}
{% block breadcrumb_content %}
  {% set dataset_link_text = 'Tolletatens åpne data' %}
  {% if pkg %}
    {% set dataset = h.dataset_display_name(pkg) %}
    <li>{% link_for _(dataset_type.title()), named_route=dataset_type ~ '.search' %}</li>
    <li>{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(100), named_route=pkg.type ~ '.read', id=pkg.name, title=dataset %}</li>
  {% else %}
    <li>{% link_for _(dataset_type.title()), named_route=dataset_type ~ '.search' %}</li>
    <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}
{% endblock %}
